header {
    display: flex;
    height: 80px;
    justify-content: space-between;
    background-color: #ff8001;
    padding: 0 16px;
}

.menu_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menu_button img {
    height: 24px;
}

.header_logo {
    height: 60px;
    align-self: center;
}

.content_total {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    height: 750px;
}

.content_restaurant {
    height: 90%;
    background-color: blanchedalmond;
}

.content_restaurant_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    background-color: black;
}

.content_restaurant_titelbox {
    display: flex;
    flex-direction: column;
    height: 80px;
    padding-left: 16px;
    justify-content: center;
    background-color: lavender;
}

.restaurant_rating {
    font-size: 14px;
    color: #ff8001;
}

.content_restaurant_navbar {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: lightgray;
}

.content_restaurant_category {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: snowwhite;
}

.basket_stickyrail {}

.basket_responsive {}

.basket_responsive_closed {}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 80px;
    background-color: rgb(66, 65, 68);
}