* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    min-height: 100vh;
    font-family: sans-serif;
    width: 100%;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
}

body {
    display: flex;
    flex-direction: column;
}


