* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    min-height: 100vh;
    font-family: sans-serif;
    width: 100%;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

:root {
    --color-accent: #ffb347; 
    --color-accent-hover: #ff9a1a; /* etwas kräftiger für Hover */
    --color-accent-active: #ff8800; /* aktive/dunklere Variante */
    --color-accent-rgb: 255,179,71; /* für rgba() */
}